<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div class="formular">
        <form id="loginForm" method="post">
            <div class="nume">
                <label>Nume utilizator</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="parola">
                <label>Parola</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>